@use '../util/' as *;

.contact{

  &__header{
    font-size: rem(40);
    text-align: center;
    padding-top: rem(80);
    margin-bottom: rem(30);
  }

  &__info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(80);
    align-items: center;

    &--image{
      justify-self: right;
      width: 80%;
    }

    &--writeup{
      padding: rem(30) 0;
      text-align: left;
    }

    &--writeup h2{
      margin: 0;
      font-size: rem(40);
    }

    &--writeup p{
      margin: 0;
      font-size: rem(25);
    }

    &--logos div{
      font-size: rem(25);
      margin: rem(20);
    }

    &--logos span{
      margin-left: rem(20);
    }
  }
}

.contact a {
  color: #999;
}