@use "../util/" as *;

.contact {
  border: 1px #444 solid;
  padding: rem(10);

  &__header {
    font-size: rem(40);
    text-align: center;
    padding-top: rem(30);
    margin-bottom: rem(30);

    @include breakpoint-down(small) {
      font-size: rem(30);
      padding-top: rem(20);
      margin-bottom: rem(15);
    }
  }

  &__form {
    max-width: 100%;
    margin: 0 auto;
  }

  &__form label {
    display: block;
  }

  &__form input {
    width: 60%;
    max-width: 60%;
    margin: 0 auto;
    padding: rem(5);
  }
}
