@use '../util/' as *;

.home{
  display:flex;
  align-items: center;
  justify-content: center;

  &__description{
    font-size: rem(45);
    font-weight: bolder;
  }

  &__image img{
    width: rem(200)
  }
}

.home div p{
  margin: 0;
  transition: all 0.5s;
  background: -webkit-linear-gradient(#1bafd0, #fd636b);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home div p:nth-child(1){
  letter-spacing: rem(5);
}

.home div p:nth-child(2){
  letter-spacing: rem(8);
}

.home div p:nth-child(3){
  letter-spacing: rem(13);
}
