@use '../util' as *;

.navbar{
  max-width: 100%;
  color: #000;
  background: linear-gradient(to right, #000000 1%, #7e7e7e 60%, #000000 100%);
  z-index: 2;
}


.navglass{
  display: grid;
  position: fixed;
  top: 0px;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  background: linear-gradient(to right, #000000 1%, #7e7e7e 60%, #000000 100%);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}

header{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  font-size: rem(40);
  font-weight: bold;
  padding-left: rem(10);
  text-transform: uppercase;
  color: #999;
  
  @include breakpoint-down(medium){
    font-size: rem(30);
  }

  @include breakpoint-down(small){
    font-size: rem(20);
  }
}

ul{
  display: flex;
  list-style: none;
  margin: rem(12);
}

.pages{
  justify-content: space-evenly;
  padding-left: 0;
}

.pages li{
  padding: rem(5) rem(15);
  font-size: rem(20);
  font-weight: 800;
  
}
.pages li a{
  color: #000;
  
}

.icons{
  justify-content: center;
  font-size: rem(25);
  color: #999;
}

.icons li{
  padding-left:rem(20) ;
}

.links li:nth-child(5){
  background: #999;
  color: #000;
  border-radius: rem(20);
}
