@use '../util' as *;

.navbar{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
}

header{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  font-size: rem(40);
  font-weight: bold;
  padding-left: rem(10);
  text-transform: uppercase;
  
  @include breakpoint-down(medium){
    font-size: rem(30);
  }

  @include breakpoint-down(small){
    font-size: rem(20);
  }
}

ul{
  display: flex;
  list-style: none;
}

.pages{
  justify-content: space-evenly;
  padding-left: 0;
}

.pages li{
  padding: rem(5) rem(15);
  font-size: rem(20);
  font-weight: 800;
}

.icons{
  justify-content: center;
  font-size: rem(25);
}

.icons li{
  padding-left:rem(20) ;
}
