@use '../util' as *;

.navbar{
  padding: rem(5);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
}

header{
  width: 100%;
  display: flex;
  text-transform: uppercase;
  font-size: rem(40);
  flex-wrap: nowrap;

  @include breakpoint-down(medium){
    font-size:  rem(35);
  }

  @include breakpoint-down(small){
    font-size: rem(25);
  }
}

ul{
  display: flex;
  list-style: none;
}

// .links li{
//   margin: 0 rem(10);
//   padding: rem(10) rem(10);
//   font-weight:bold;

//   @include breakpoint(medium){
//     margin:  rem(15);
//   }

//   @include breakpoint(large){
//     margin: rem(20);
//   }
// }

// .hire{
//   background: #290a6c;
//   border: 1px solid var(navyblue);
//   border-radius: rem(10);
// }
