@use '../util/' as *;

.skills{
  &__header{
  
    font-size: rem(40);
    text-align: center;
    padding-top: rem(60);
    margin-bottom: rem(30);

    @include breakpoint-down(small){
      font-size: rem(30);
      padding-top: rem(45);
      margin-bottom: rem(15);
    }
  }

  &__icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: rem(50);
    list-style: none;
    padding: rem(10);
  }
  
}


.card{
  position: relative;
  filter: grayscale(100%);
  z-index: 0;
  margin: rem((5));
  padding: rem(10) rem(30);
  background: #333;
  border: 1px solid #666;
  border-radius: rem(20);
  transition: all 2s;

  @include breakpoint-down(small){
    padding: rem(5) rem(10);
  }



}

.card:hover{
  top: rem(-10);
  background: #eee;
  filter: grayscale(0);
  transform: rotateY(360deg);
  box-shadow: 0 1px 10px rgb(255, 255, 255);
}


li.card img{
  width: rem(60)
}

