@use '../util/' as *;

.skills{
  &__header{
  
    font-size: rem(40);
    text-align: center;
    margin-top: rem(80);
    margin-bottom: rem(30);
  }

  &__icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: rem(80);
    list-style: none;
    padding: rem(10);
  }
}

.card img{
  filter: grayscale(100%);
}

.card img:hover{
  filter: grayscale(0);
}

.card{
  margin: rem((5));
  padding: rem(10) rem(30) rem(0);
  width: rem(150);
  background: #333;
  border: 1px solid #666;
  border-radius: rem(20);
}

img{
  transition: transform 1s ease-in-out;
}

img:hover{
  transform:rotateY(360deg);
}










