@use '../util/' as *;

.two{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(20);
  
  &__description{
    font-size: rem(45);
    font-weight: bolder;
  }

  &__image{
    width: 40%;
    transition: all 2s;
  }

  &__image:hover{
    opacity: 50%;
  }
}

img{
  width: 100%;
}

.two div p{
  margin: 0;
}

.two div p:hover{
  color: red;
}

.two div p:nth-child(1){
  letter-spacing: rem(5);
}

.two div p:nth-child(2){
  letter-spacing: rem(8);
}

.two div p:nth-child(3){
  letter-spacing: rem(13);
}





