@use "../util/" as *;

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: rem(40);

  &__description {
    font-size: rem(50);
    font-weight: bolder;

    @include breakpoint-down(medium) {
      font-size: rem(40);
    }

    @include breakpoint-down(small) {
      gap: rem(10);
      font-size: rem(30);
    }

    @include breakpoint-down(smaller) {
      font-size: 120%;
    }
  }
}

.home div p {
  margin: 0;
  background: -webkit-linear-gradient(#1bafd0, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home div p:nth-child(1) {
  letter-spacing: rem(5);
}

.home div p:nth-child(2) {
  letter-spacing: rem(8);
}

.home div p:nth-child(3) {
  letter-spacing: rem(13);

  @include breakpoint-down(small) {
    letter-spacing: rem(10);
  }
}

.home img {
  width: 10%;
  opacity: 0.8;

  @include breakpoint-down(medium) {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    gap: rem(5);
  }
}
